{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="home-section container-col">
    <h2>Select Your Module</h2>
    <a href="{% url 'module' number='one' %}" class="btn">HTML / CSS</a>
    <a href="{% url 'module' number='two' %}" class="btn">Javascript</a>
    <a href="{% url 'module' number='three' %}" class="btn">Django</a>
    <a href="{% url 'module' number='four' %}" class="btn">Final Hackathon</a>
    <a href="{% url 'responses' %}" class="btn">View Responses</a>
</section>
{% endblock %}